<?xml version="1.0"?>
<config>
    <modules>
        <Gateway_Billdesk>
            <version>0.1.0</version>
            <depends>
                <Mage_Payment />
            </depends>
        </Gateway_Billdesk>
    </modules>
    <global>
    	<models>
    		<mbilldesk>
	    		<class>Gateway_Billdesk_Model</class>
			<resourceModel>mbilldesk_mysql4</resourceModel>
			</mbilldesk>
            <mbilldesk_mysql4>
                <class>Gateway_Billdesk_Model_Mysql4</class>
                <entities>
                    <billdesk>
                        <table>mbilldesk</table>
                    </billdesk>
				</entities>
	    	</mbilldesk_mysql4>
    	</models>
       <helpers>
            <mbilldesk>
                <class>Gateway_Billdesk_Helper</class>
            </mbilldesk>
        </helpers>
    	<blocks>
            <mbilldesk>
            	<class>Gateway_Billdesk_Block</class>
            </mbilldesk>
        </blocks>
        <resources>
            <mbilldesk_setup>
                <setup>
                    <module>Gateway_Billdesk</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mbilldesk_setup>
            <mbilldesk_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mbilldesk_write>
            <mbilldesk_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mbilldesk_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <mbilldesk>
                <use>standard</use>
                <args>
                    <module>Gateway_Billdesk</module>
                    <frontName>billdesk</frontName>
                </args>
            </mbilldesk>
        </routers>
        <translate>
            <modules>
                <Gateway_Billdesk>
                    <files>
                        <default>Gateway_Billdesk.csv</default>
                    </files>
                </Gateway_Billdesk>
            </modules>
        </translate>
        <layout>
            <updates>
                <payu>
                    <file>billdesk.xml</file>
                </payu>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Gateway_Billdesk>
                    <files>
                        <default>Gateway_Billdesk.csv</default>
                    </files>
                </Gateway_Billdesk>
            </modules>
        </translate>
    </adminhtml>
	<default>
        <payment>
            <mbilldesk>
                <active>1</active>
                <cgi_url>https://www.billdesk./</cgi_url>
                <model>mbilldesk/billdesk</model>
                <order_status>1</order_status>
                <title>BillDesk</title>
                <log_file_name>mbilldesk.log</log_file_name>
            </mbilldesk>
        </payment>
    </default>
</config>
